.app-header {
  padding-top: 73px;
  margin-bottom: 75px;
}


.header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.header-section nav {
  display: flex;
  align-items: center;
  gap: 57px;
}

.app-header nav a {
  color: var(--clr1);
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

@media(max-width: 565px) {
  .header-section div svg {
    width: 46px;
    height: 24px;
  }
  .app-header nav a {
    font-size: 12px;
    font-weight: 400;
  }
  .header-section nav {
    gap: 24px;
  }
}