:root {
  --clr1: #ffffff;
  --clr2: rgb(240, 240, 240);
  --clr3: rgb(155, 155, 155);
  --clr4: hsl(217, 28%, 15%);
  --clr5: hsl(218, 28%, 13%)
  /* --clr5: rgb(0, 0, 0); */


  --secondary-clr1: rgb(88, 201, 58);
  --secondary-clr2: rgb(122, 7, 70);

} 