* {
  box-sizing: border-box;
}


body {
  display: grid;
  margin: 0;
  background-color: var(--clr4);
}

#app{
  display: grid;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin:0;
  color: var(--clr1);
  font-family: 'Edu VIC WA NT Beginner', cursive;
}

p {
  margin: 0;
  color: var(--clr1);
  /* margin: 0 0 1em; */
}

a {
   color: var(--clr1);
  text-decoration: none;
  color: unset;
}



/* Dont stretch my Media */
img,
embed,
video,
object {
  max-width: 100%
}

.debug * {
  outline: 1px solid gold
}

